.para {
    width: 867px;
}

#overflowContainer {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 554px;
}

.artistRow {
    border: 1px solid grey;
    height: 166px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.artistProfileProportions {
    border-right: 1px solid grey;
    background-color: blanchedalmond;
    /*height: max-content;*/
    width: 186px;
    height: auto;
}

.artistName {
    text-transform: capitalize;
}