.container_innerBuyGallery{
    border: solid;
    display: flex;
    margin: 10px;
}
#printBuyGallery{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px 0px 0px 0px;
    overflow: auto;
    height: 466px;
}
.innerInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: x-large;
}
.standardBuyImageSize{
    width: 300px;
}
.buyFilter{
    position: absolute;
    margin: 10px 0px 0px 690px;
}
#buyImage{
    background-image: url("bilder/Buy.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 78px;
}
#auctionImage{
    background-image: url("bilder/Auction.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bolder;
    font-size: 78px;
}